*.class
*.jar
*.swp
*.zip
*~
.DS_Store
.hg/
.hgignore
.idea
.repl
/.lein-*
/.nrepl-port
/checkouts
/classes
/core.js
/coreadvanced.js
/coresimple.js
/lib
/node/out
/out
/resources/public/cljs/out
/target
/web/out
closure
pom.xml
pom.xml.asc
