*~
.idea
.DS_Store
/lib
closure
/core.js
/coreadvanced.js
/coresimple.js
/resources/public/cljs/out
/out
/web/out
/node/out
.repl
*.swp
*.zip
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
